In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("./merged_dataset.csv")

In [8]:
df

         user_id country  age  gender  start_date         ds1         ds2
0        9541124      DK   22    male  2018-05-05         NaN  2020-10-25
1        5946065      US   15    male  2018-01-24  2020-03-08         NaN
2        4180986      US   32  female  2018-12-17         NaN         NaN
3        5533917      US   70    male  2018-03-07  2020-01-11  2020-08-20
4        5533917      US   70    male  2018-03-07  2020-02-13  2020-08-20
...          ...     ...  ...     ...         ...         ...         ...
1039668  9633050      US   25    male  2018-10-17  2020-04-30         NaN
1039669  8303701      US   19    male  2018-11-29  2020-01-18         NaN
1039670  4645036      US   49  female  2018-05-16  2020-03-23         NaN
1039671  4060972      US   47    male  2018-03-27  2020-09-05  2020-08-21
1039672  5576368      US   47    male  2018-05-20  2020-02-02         NaN

[1039673 rows x 7 columns]

In [17]:
pA = 1 - df["ds1"].isna().sum() / len(df["ds1"])

In [18]:
pB = 1 - df["ds2"].isna().sum() / len(df["ds2"])

In [23]:
aANDb = len(df.dropna()) / len(df)

In [24]:
acondb = aANDb / pB

In [25]:
bconda = aANDb / pA

In [26]:
acondb

0.8160349311679882

In [27]:
bconda

0.46651288185641965